#!name=📺 BiliBili: ⚙ Enhanced
#!desc=哔哩哔哩：增强模式（中国站功能增强及UI自定义）
#!openUrl=http://boxjs.com/#/app/BiliBili.Enhanced
#!author=VirgilClyne
#!homepage=https://github.com/BiliUniverse
#!manual=https://github.com/BiliUniverse/Enhanced/wiki
#!icon=https://github.com/BiliUniverse/Enhanced/raw/main/database/icon_108x.png

#[Script]
# BiliBili.Enhanced.x.resource.show.tab.v2
^https?:\/\/app\.bili(bili|api)\.(com|net)\/x\/resource\/show\/tab\/v2(\?.+)?$ url script-response-body https://raw.githubusercontent.com/BiliUniverse/Enhanced/main/js/BiliBili.Enhanced.response.js
# BiliBili.Enhanced.x.v2.account.mine
^https?:\/\/app\.bili(bili|api)\.(com|net)\/x\/v2\/account\/mine(\?.+)?$ url script-response-body https://raw.githubusercontent.com/BiliUniverse/Enhanced/main/js/BiliBili.Enhanced.response.js

#[MITM]
hostname = app.bilibili.com, app.biliapi.net
